:root {
    --arsenic:(#3B4050);
    --gunmetal:(#2E323F);
    --sonic-silver:(#6F737F);
    --white:(#FFFFFF);
    --grullo:(#A59678);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    line-height: 6rem;
    text-align: left;
}

h2 {
    font-size: 1.9rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color:#A59678;
}

h3 {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: #FFF;
}

h4 {
    font-size: 1.25em;
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    color: #A59678;
}

.section-title {
    color: #A59678;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #FFF;
    font-family: 'Oswald',sans-serif;
    background-color: #A59678;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

header {
    background: #3B4050;
    padding: 1em 0;
    text-align: left;
}

footer {
    background: #3B4050;
    padding: 1em 0;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 1rem;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 

.nav__item {
    margin-top: .75em;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__list--primary {
    margin-bottom: 2em;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link--button {
    background: #A59678;
    color: #FFF;
    padding: .25em 1em;
    border-radius: 10em;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .75;
}

.logo {
    height: 30px;
}


.hero {
    padding: 100px 0;
    background-color: #2E323F;
    color: #FFF;
}

.hero__img {
    margin-top: 2em;
}

.hero__text--responsive {
    color: #A59678;
}


.hero p {
    margin-bottom: 3em;
}

.main {
    margin-top: 3em;
}

.qualities {
    margin-top: 3em;
}

.qualities__text {}


.primary-content {
    width:100%;
}

.sidebar {
    padding: 1em;
    text-align: center;
    color: #fff;
    width: 100%;
}

.sidebar .col {
    background-color: #2E323F;
    margin-bottom: 1em;
}

footer p {
    color: #FFF;
}

@media (min-width: 1000px) {

    
    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        height: auto;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav__item {
        margin:0 0 0 1.5em;
    }

    .col {
        flex: 1 1 auto;
        padding:1em;
        text-align: center;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .hero__text {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        text-align: left;
    }
    
    .hero__img {
        width: 100%;
        align-self: flex-start;
        margin: 0;
    }
    
    .primary-content {
        width: 62%;
    }

    .sidebar {
        width: 32%;
    }

    footer {
        flex-direction: column;
    }

    footer .scratching {
        align-content: center;
        justify-content: center;
    }

    footer .about .col {
        text-align: left;
        max-width: 50%;
    }

    .qualities__text {
        display: flex;
        justify-content: space-between;
    }

    .sidebar {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .sidebar .col {
        margin-left:0;
    }
}

@media (min-width: 700px) {

    .sidebar {
        display:flex;
        flex-direction: row;
    }

    .sidebar .col {
        margin-left:1em;
    }
}