/* 
////// For this challenge ///////

- All text is in the text.md file

// Requirements
   1. Get all the navigation items next to one another
   2. Add a space between all the items
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight:900;
    color: #824936;
    margin-top: 0;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #F3eed9;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-family: 300;
    font-size: 1rem;
    letter-spacing: .5rem;
}

.container {
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
  
.row-item {
    flex: 1;
    padding: 10px;
    height:100%;
}
  
.col-1 {
    flex: 1;
    padding-left:3.5em;
    padding-right: .25em;
    text-align: left;
}

.col-2 {
    flex: 1;
    padding-right: 3.5em;
    padding-left: .25em;
    align-self: stretch;
    text-align: left;
}

.col-1 p {
    margin-top: 0;
}

.col-2 p {
    margin-top: 0;
}

header {
    background: #f3eed9;
    padding: .5em 0;
    text-align: center;
    min-height: 660px;
    align-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.main {
    margin-top: 3em;
}

.quality {
    background-color: white;
    display:flex;
    flex-direction: column;
    margin-bottom: 2.5em;
}

.quality .row .row-item h2 {
    color:#824936;
}

.quality .row .row-item {
    padding-bottom:0;
}

.quality .row .col-1 {
    padding-right: 1.25em;
    margin-left: 2em;
}

.quality .row .col-2 {
    padding-left: 1.25em;
    margin-right: 2em;
}

.custom {
    background: #222C2A;

}

.custom p {
    color: white;
}

.custom .row {
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: stretch;
    width:80%;
    margin-left:4em;
}

.custom .row .row-item {
    text-align: left;
    vertical-align: top;
}

.custom .row .row-item h2 {
    margin-top:0;
}

.custom-first {
    padding-left: 2em;
}

.custom img {
    padding-left: 3em;
}

.care {
    background: #824936;
}

.care p {
    color: white;
}

.care .row {
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: stretch;
    width: 80%;
    margin-left: 4.5em;
}

.care .row .row-item {
    text-align: left;
    margin: 0;
    align-content: flex-start;
}

.care .row .row-item h2 {
    margin-top: 0;
}

.care .row .row-item img {
    float: right;
    padding-left: 2em;
}

.care-second {
    padding-left: 6em;
}
